@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: "matroska";
  src: url("./assets/fonts/Matroska.ttf") format("Truetype");
  font-weight: 600;
  font-style: normal;
}

  .text-justify-right {
    text-align: justify;
    text-align-last: right;
  }


/* Swiper core styles */
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Fade effect */
.swiper-fade .swiper-slide {
  transition-property: opacity;
  opacity: 0;
  pointer-events: none;
}

.swiper-fade .swiper-slide-active {
  opacity: 1;
  pointer-events: auto;
}

/* Navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: white;
  --swiper-navigation-size: 30px;  /* ikonstorlek */
  z-index: 30;
  cursor: pointer;
  background: rgba(0,0,0,0.4);
  border-radius: 9999px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobil/platta – UNDER swiper */
@media (max-width: 1024px) {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    bottom: -60px;           /* under sliden */
    top: auto;
    transform: none;
  }
  .swiper-button-prev { left: 30%; }
  .swiper-button-next { right: 30%; }
}

/* Desktop – PÅ SIDORNA */
@media (min-width: 1025px) {
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .swiper-button-prev { left: 12px; }
  .swiper-button-next { right: 12px; }
}

.desctext a {
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}

.desctext a:hover {
  text-decoration: underline;
}


@import "tailwindcss";

@theme {
  --font-body: "Mulish", sans-serif;
  --font-header: "matroska", sans-serif;

  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1025px;
  --breakpoint-desktop: 1280px;

  --color-warm-white: rgb(255 250 243);
  --color-warm-black: rgb(47 26 14);

  --animate-fadeIn: fadeIn 1s ease-in both;
  --animate-longFadeIn: fadeIn 2.3s ease-in both;
  --animate-rotate: rotate 1s ease-in;
  --animate-banner: banner 10s linear infinite;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
